body{
/*font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;

<input class="input rounded" type="search" name="" id="pesquisar">
          <a href="#"><i class="bi bi-search w-10 fs-5"></i>
          </a>
      
        <div class="col-md-2 d-md-block">
          
          <a href="#"><i class="bi bi-person fs-5">Entrar</i></a>
        </div>
        <div class="col-md-2 ">
          <a href="#">
            <i class="bi bi-cart fs-5"></i>
          </a>
        </div>
        
*/
}
header{
  background-color: #811B2D;
}
header img{
  height: 70px;
}
.input{
  width: 80%;
  height: 35px;
  outline: none;
}
.container a {
  text-decoration: none;
}
.container a i{
  font-family: 'Playfair Display', serif;
color: white;
text-decoration: none;
text-align: center;
}
.navbar-toggler{
background-color: white;
}
.navbar-collapse{
  background-color: #811b2e98;
}
.nav-item{
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  
}
.nav-item a, .nav-item a:hover{
  color: white;

}
@media (max-width:767px){
  .input{
    display: none;
  }
 

}