body{
/*font-family: 'Pacifico', cursive;

font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;*/
}
header{
  background-color: #811B2D;
}
header img{
  height: 70px;
}
.navbar-toggler {
  background-color: white;
 
}
.navbar-toggler span{
  color:#811B2D ;
}

.nav-item a, .nav-item a:hover, .nav i, .nav i:hover{
  color: white;
  font-family: 'Playfair Display', serif;
}
.nav .pesquisa input{
  height: 40px;
}