.body{
  font-family: 'Roboto', sans-serif;
}
html{
  overflow-x: hidden;
}
header{
  background-color: #811B2D;
}
header img{
  height: 70px;
}
header span{
  font-family: 'Playfair Display', serif;
  
  text-decoration: none;
  text-align: center
}
.navbar-toggler{
  background-color: white;
  }
nav  .nav-link img{
  height: 24px;
}
nav  .nav-link {
  color: white;
  font-weight: bold;
}
nav  .nav-link:hover{
  color: white;
}
#cabecalho .nav .nav-link.active{
  background-color:white ;
  color: #811B2D;
}

#loja .row img{
  width: 695px;
}
#loja .row img{
  border-radius: 50%;
}
#loja .row h2, .row .col-md-3 h3{
  font-family: 'Playfair Display', serif;
  color:#811B2D ;
  font-weight: bold;
}
#loja .row p  span{
  font-family: 'Playfair Display', serif;
  color:#811B2D ;
  font-weight: bold;
}

section h1 span, section h2 span{
  font-family: 'Playfair Display', serif;
  color:#811B2D ;
  font-weight: bold;
  border-bottom: 4px solid #811B2D;
  padding-bottom: 10px;
}
section h2, section h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
section .col-md-3 img{
 border-radius: 10px;
}
section .carousel-item a{
background-color:#811b2e98 ;
color: white;
font-family: 'Playfair Display', serif;
}
section .carousel-item a:hover{
  background-color:#811B2D;
}
section .row .btn{
  background-color:#811B2D;
  color: white;
  font-family: 'Playfair Display', serif;
}
section .row .btn a{
  color: white;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}
section .row .btn:hover{
  background-color:#b71634;
color: white;
font-family: 'Playfair Display', serif;
}
.nav-pills.flex-column .nav-link{
  color: #811B2D;
  font-family: 'Playfair Display', serif;
}

.nav-pills.flex-column .nav-link.active{
  background-color:#811B2D;
  color: white;

}
.row .col-md-3{
  padding-bottom: 30px;
}
.row .col-md-3{
  padding-top: 18px;
}
.social-links li{
  list-style: none;
  display: inline;
}
.social-links a {
  text-decoration: none;
}
.text-colored {
  font-family: 'Playfair Display', serif;
  color: #811B2D;
}
.form-froup input[type="radio"]{
  outline-color: #811B2D;
}
footer{
  background-color: #811B2D;
  color: white;
}
